<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"><i class="fas fa-smog"></i> Weather</h2>
            <form action="/" method="post">
                <div class="mb-3">
                    <label for="" class="form-label"><i class="fas fa-city"></i> City or
                        country</label>
                    <input type="text" class="form-control" name="city" id="city" aria-describedby="helpId"
                        placeholder="Enter a city or country" autofocus required>
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-search-location"></i>
                    Weather</button>
            </form>
        </div>
    </div>
</div>