<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title"><i class="fas fa-info-circle"></i>
                Weather description</h2>
            <div class="card-text text-center">
                <div style="font-size: 3vmin; font-weight: 500; color: gray;">
                    {{town['showTown']}}
                    <i class="fas fa-city"></i>
                    {{town['showCountry']}}
                </div>
                <div style="font-size: 4vmin; font-weight: bold; color: darkslategray;">
                    {{town['showTemp']}}
                    <i class="fas fa-temperature-low"></i>
                </div>
                <div style="font-style: oblique; font-size: 6mm; color: slategray;">
                    {{town['showDescription']}}
                    <i class="fas fa-smog"></i>
                </div>
            </div>
        </div>
    </div>
</div>